.body-style {
    background-color:burlywood;
}

.text-style {
    font-size: 40pt;
}

/* p  {
    font-size: 40pt;
    background-color: burlywood;
} */

.lose-body-style {
    background-color:red;
}

.mad-body-style {
    background-color:rgb(179, 132, 105);
}

.win-body-style {
    background-color:lime;
}

.mad-text-style {
    font-size: 40pt; background-color: rgb(179, 132, 105);
}

.lose-text-style {
    font-size: 40pt; background-color: red;
}

.win-text-style {
    font-size: 40pt; background-color: lime;
}

.Homepage-Link {
     margin-left: 450px;
}

.Header-Homepage {
    margin-left: 0px;
    font-size: 50p;
    padding: 50px;
  border: 9px solid blue;
  background-color: lightblue;
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: 450px;
    
  }